/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style */
body {
    font-family: "Roboto", sans-serif;
}

.header, .hero, .testimonial, .footer {
    padding: 24px 168px;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.header ul li {
    display: inline-block;
    margin-right: 12px;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    padding-top: 86px;
    padding-bottom: 86px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.description > h1,
.description > p,
.description > button {
    margin-bottom: 12px;
    color: #f9faf8;
}

.description .title {
    font-size: 48px;
    font-weight: 900;
    flex: 0 0 40%;
}

.description p {
    opacity: 0.9;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.description button {
    background-color: #3882f6;
    border: none;
    padding: 8px 28px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
}

.hero .h-image {
    background-image: url(img/hero-moon.jpg);
    background-size: cover;
    background-position-y: -50px;
    flex: 0 0 60%;
    height: 300px;
}

.testimonial {
    background-color: #f9faf8;
    padding-bottom: 180px;
}

.testimonial h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}

.testimonial-card {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.testimonial-card div {
    width: 180px;
    height: 180px;
}

.testimonial-card div.img {
    box-sizing: border-box;
    width: 180px;
    height: 180px;
    border: 4px solid lightskyblue;
    border-radius: 12px;
}

.testimonial-card div p {
    text-align: center;
    margin-top: 8px;
    font-size: 18px;
    opacity: .8;
}

.footer {
    background-color: #1f2937;
    padding-top: 36px;
    padding-bottom: 36px;
}

.footer p {
    color: white;
    text-align: center;
    font-size: 18px;
}